<div>
  <main class="scrapper-container">
    <header id="header" class="">
      <h1>
        Canadian
        <br>
        Work & Holiday 2015
        <br>
        Scanner
      </h1>
    </header>

    <section>
      <% if @iec_wh.present? %>
        <p><strong>Country:</strong> <%= @iec_wh.country %></p>
        <p><strong>Category:</strong> <%= @iec_wh.category %></p>
        <p><strong>Quota:</strong> <%= @iec_wh.quota %></p>
        <p><strong>Remaining Slots:</strong> <%= @iec_wh.remaining %></p>
        <p><strong>Status:</strong> <%= @iec_wh.status %></p>
        <p><strong>Last Updated Page date:</strong> <%= @iec_wh.modified_page_date.try(:strftime, '%d/%m/%Y') %></p>
        <p><strong>Kompass Login:</strong> <%= @iec_wh.kompass_year %> </p>
        <p>
          <strong>Requested on:</strong> <%= (@iec_wh.created_at - 3.hours).try(:strftime, '%d/%m/%Y - %H:%M:%S') %>
        </p>

      <% else %>
        <p>
          Not requested YET, <br> be the first and clicking the button Below.
        </p>
      <% end %>
      <div class="request-button">
        <p>
          <%= link_to 'ASK AGAIN!', request_wh_url %>
        </p>
      </div>
    </section>
    <br>

    <footer>
      <div class="source">
        Data gathered from <br>
        <%= link_to 'Citizenship and Immigration Canada (CIC)', @reference, target: '_blank' %> <br>
        and <br>
        <%= link_to 'International Experience Canada', @kompass_reference, target: '_blank' %>
      </div>
      <br><br>
      <div class="info">
        All this content is just to provide information about Work And Holiday 2015 process availability for Chilean people.
      </div>
    </footer>
  </main>
</div>

