<!DOCTYPE html>
<html id='home_v2' lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ignacio Diez</title>

    <%= stylesheet_link_tag    "application_foundation" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "foundation/foundation", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "foundation/foundation.topbar.js", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'navigation' %>

    <%= yield %>

    <%= render partial: 'footer' %>
  </body>

</html>
